:host{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

.card-wrapper {
  flex: 1 0 500px;
  margin:1em;
}

.button-wrapper{
  padding:1em;
}
